* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #fff;
    --second-color: #ececec;
    --black-color: #000;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Responsive background */
body {
    background-image: url(bg.jpg);
    background-position: center center; /* keeps center of image in focus */
    background-size: cover;             /* fills screen but maintains aspect ratio */
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Links */
a {
    text-decoration: none;
    color: var(--second-color);
}

a:hover {
    text-decoration: underline;
}

/* Wrapper */
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Login box */
.login_box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

/* Login header */
.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px; 
}

.login-header span {
    font-size: 30px;
    color: var(--black-color);
}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

/* Input boxes */
.input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
    background: transparent;
    padding: 0 6px;
}

.input-field:focus + .label,
.input-field:valid + .label {
    top: -10px;
    left: 15px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 8px;
    z-index: 5;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.input-submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit:hover {
    background: var(--second-color);
}

.register {
    text-align: center;
}

.register a {
    font-weight: 500;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .login_box {
        width: 90%;
        padding: 6em 1.5em 3em 1.5em;
    }

    body {
        background-position: top center; /* keep top part visible on smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .login_box {
        padding: 5em 1em 2em 1em;
    }
    
    body {
        background-position: top center;
    }
}
